<!DOCTYPE HTML>
<html>
<head>
	<title><%= title %></title>

	<!-- External style import -->
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap-theme.css" />
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/libs/font-awesome/css/font-awesome.css" />

	<!-- Custom style import -->
	<link rel="stylesheet" type="text/css" href="/css/style.css" />

	<!-- signin style import -->
	<link rel="stylesheet" type="text/css" href="/css/pages/signin.css" />

	<!-- footer style import -->
	<link rel="Stylesheet" type="text/css" href="/css/footer/footer-v1.css" />

	<!-- google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="parent-wrapper">
		<div class="signin-wrapper">
			<div class="login-wrapper">
				
				<div class="login-header padding-top-40">
					<p class="text-center"><span>John Hancock</span></p>
					<h3 class="text-center"><span>Status Reporting</span> Tool</h3>
				</div>
				
				<div class="login-body padding-top-20">
					<form action="/signin" method="post">
					
						<div class="input-group margin-bottom-20 border-bottom">
							<span class="input-group-addon custom-addon-bg">
								<i class="fa fa-2x fa-user"></i>
							</span>
							<input type="text" class="form-control" name="username" placeholder="Username" />
						</div>

						<div class="input-group margin-bottom-20 border-bottom">
							<span class="input-group-addon custom-addon-bg">
								<i class="fa fa-2x fa-lock"></i>
							</span>
							<input type="password" class="form-control" name="password" placeholder="Password" />
						</div>

						<div class="padding-top-20">
							<input type="submit" class="btn-aqua" value="Login" />
						</div>
					</form>
				</div>
				
			</div>
		</div><!-- signin-wrapper -->
		<div class="footer-v1">
			<div class="footer-wrapper">
				<div class="footer-links">
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Help Center</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms</a></li>
					</ul>
				</div>
				<div class="footer-rights">
					<p><span>&copy; John Hancock. All rights reserved.</span></p>
				</div>
			</div>
		</div><!-- footer-v1 -->
	</div>
</body>
</html>